{% extends "layout.html" %}
{% block content %}
    <h1>About Sam</h1>
    <h3>Sam Stuver is a Software Development Engineer in Test based in Denver, Colorado with 2 1/2
        years of experience supporting the development of firmware and hardware for upcoming, high-end
        consumer audio technologies.<br>
        He specializes in using Python for building automated test frameworks and suites to validate
        product behaviors in both end-to-end and embedded environments.</h3>

    <p>Previously, he was a data analyst and research assistant at the Laboratory for Atmospheric and Space Physics
        in Boulder, CO. He worked on the Imaging Ultraviolet Spectrograph (IUVS) team of the Mars Atmosphere and
        Volatile Evolution (MAVEN) mission, aiding in the study of the past atmospheric composition of Mars by
        performing statistical analyses of spacecraft data and developing computational simulations and
        data visualizations that allowed for more efficient analysis.</p>

    <p>In addition, through his education Sam has experience in scientific programming, telescope operation, and
        data collection, including projects involving the analysis of data obtained from the Apache Point
        Observatory 3.5m telescope in Sunspot, New Mexico and the 24 inch telescope at the
        Sommers-Bausch Observatory in Boulder, Colorado.</p>

    <p>His career interests involve computational data analysis within scientific research, and his experience
        and education have fostered a set of skills that are applicable to a wide range of scientific fields,
        including, but not limited to, astronomy, physics, computer science, atmospheric science, and environmental science. </p>
{% endblock content%}